.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    color: var(--textSoft)
}
.footer-logo{
    font-weight: bold;
}

.footer-text{
    font-size: 12px;
}